tsne_utils
compile_commands.json

cmake/
*.tar.gz
cleanspace.py
*.data
iter_*
pts_*
*.out2
*.run
*.txt
CMakeLists.txt
knn_*
ind_*
rows_*
vals_*
coo_host_*
*.bucu
*_before*
*_after*
pij_all*
core*
*.sb
*.out
reptimes*
*.o
*.so
*.pyc
*__pycache__*
*.py[cod]
*$py.class

*.swp

*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

bhtsne/bh_tsne
Multicore-TSNE/build/*
Multicore-TSNE/dist/*

# exclude everything
build/*

# exception to the rule
!build/.gitkeep

# Ignore animation
visualization/animation.gif

.DS_Store
.mypy_cache/
.vscode/

# vim
*.swp
*.swo
